body{
    background-color: rgb(255, 255, 250);
}

header{
    display: flex;
    background-color: rgb(131, 168, 236) ;
}

.profile-photo{
    flex: 1;
    padding: 20px;
}

.headerText{
    flex: 4;
    padding: 30px;
}

nav{
    background-color: rgb(231, 222, 222);

}

.ac{
    margin: 50px;
}

table{
    border: 3px solid black;
    width: 80%;
}

td, th{
    border: .5px, solid black;
    padding: 5px;
}

th{
    background-color: darkgray;
}

.container{
    display: flex;
}

.leftS{
    flex: 2;
    padding: 20px;
}

.rights{
    flex: 1;
}